import java.nio.file.Paths

singularity {
	enabled = true
	runOptions = "-B /camp"
}

process {

	tag = { name }

	container = "/camp/stp/babs/working/bahn/singularity/rnaseq.sif"

	publish_mode = "symlink"
	publish_overwrite = true

	//executor = "local"
	executor = "slurm"
	cpus = 2
	memory = 12G
	time = '03:00:00'
	
	withName: fastqc {

		publishDir = [
			path: { Paths.get( params.qc_dir , "fastqc" ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}

	withName: cutadapt {

		publishDir = [
			path: { Paths.get( params.qc_dir , "cutadapt" ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}

	withName: rsem {

		executor = "slurm"

		//cpus = 2
		//time = '01:00:00'

		publishDir = [
			path: { Paths.get( params.results_dir , "rsem" ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}

	withName: metadata {

		publishDir = [
			path: { Paths.get( params.results_dir , "metadata" ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}

	withLabel: unique_process {
		tag = "unique"
	}

	withLabel: long_process {
		time = '04:00:00'
	}

	withLabel: r_analysis {

		executor = "local"
		tag = "unique"

		publishDir = [
			path: { Paths.get( params.results_dir , "analysis" ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}

	witName: dds {

		executor = "slurm"
		cpus = 4
	}

	withName: multiqc {

		executor = "local"

		publishDir = [
			path: { Paths.get( params.results_dir ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}
}

